<!DOCTYPE html>
<html>
{% include 'partials/nav.html' %}
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />

<head>
    <tItle></tItle>
</head>
<div class="container mt-5">
    <div class="row">


        <div class="col">
            <a href="#" class="btn btn-primary btn-block">
                <i></i>view cars
            </a>

        </div>


        <div class="col">
            <a href="#" class="btn btn-primary btn-block">
                <i></i>send mail
            </a>
        </div>

        <div class="col">
            <a href="#" class="btn btn-primary btn-block">
                <i></i>Generate reports
            </a>
        </div>

        <div class="col">
            <a href="#" class="btn btn-warning btn-block">
                <i></i>view admin
            </a>
        </div>

        <div class="col">
            <a href="#" class="btn btn-warning btn-block">
                <i></i>view customers
            </a>
        </div>

    </div>
</div>

</html>