<html>
{% include 'partials/adm_nav.html' %}
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />

<head>
    <title></title>
</head>

<body>
    <form action="{{url_for('about')}}" method="POST">
        <h1> Welcome to car dealer </h1>
        <h1>welcome to car dealer management system</h1>
        <p>
            Car Dealer Management System is used as a platform for customers to:
            <p>1. Hire cars</p>
            <p>2.Book appointment for their cars repair </p>
            <p>3.Buy cars </p>
            We are specialized in selling of cars,from Thailand,German,Japan,US and many countries in the world. We do not just sale cars, but also our service including 100% outgoing inspection of your selected car to ensure it is okay. We have many cars on our
            stock including commercial trucks such as Toyota Hilux Vigo, Hilux champ, Toyota Fortuner.

        </p>

        <p>
            Accuracy Providing clear, complete and accurate information on our products, services and pricing either by phone, email or post. Explaining all points of our sales and service procedures to you at all times.Quoting on any additional work that should
            be carried out or should become required in the near future immediately it becomes apparent.
        </p>

        <p>
            Performance Ensuring that in every aspect of our work, each individual is responsible and accountable for the quality of their work.Continuously enhancing and improving the services and technology in place within the Company to meet and exceed the expectations
            of our customers.Working with our customers to correct any problem and taking action to ensure that the problem does not recur.
        </p>
        <p>
            Honesty and Integrity At all times striving to be honest, friendly and courteous, treating all customers as valued customers.Making certain that should the level of service we provide fail to meet your reasonable expectations, we take steps to rectify
            the situation, as soon as it is brought to our attention. In the event that you are not happy with the resolution provided, we will endeavor to escalate and resolve the issue within the relevant department. Treating your personal information
            in the strictest confidence.Ensuring that details of your transactions with the Company are discussed only with you or your authorized representative.
        </p>
    </form>
</body>

</html>