<html>
<script src="public/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css" />{% include 'partials/nav1.html' %}

<head>
    <title>Customer registration</title>
</head>

<body>

    {% for message in get_flashed_messages()%} {{message}} {%endfor%}


    <form action="{{url_for('customer')}}" method="POST">
        <div class="container-fluid bg-light py-3">
            <div class="row">
                <div class="col-md-5 mx-auto">
                    <div class="card card-body" style="background-color: bisque;">
                        <h3 class="text-center mb-4">Sign-up</h3>
                        <!-- <div class="alert alert-danger">
                                            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Password is too short.
                                        </div> -->
                        <fieldset>
                            <div class="form-group has-error">
                                <label class="form-control-label">First Name</label>
                                <input class="form-control input-lg" placeholder="First name" name="first_name" type="text" required>
                            </div>
                            <div class="form-group has-success">
                                <label class="form-control-label">Last Name</label>
                                <input class="form-control input-lg" placeholder="Last name" name="last_name" type="text" required>
                            </div>
                            <div class="form-group has-success">
                                <label class="form-control-label">Username</label>
                                <input class="form-control input-lg" placeholder="username" name="username" value="" type="text" required>
                            </div>
                            <div class="form-group has-success">
                                <label class="form-control-label">Id Number</label>
                                <input class="form-control input-lg" placeholder="id_number" name="id_number" value="" type="number" required maxlength="8" minlength="7">
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Phone Number</label>
                                <input class="form-control input-lg" placeholder="Phone number" name="phone_number" value="" type="number" required>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Email</label>
                                <input class="form-control input-lg" placeholder="Email Address" name="email" value="" type="email" required>
                            </div>

                            <div class="form-group">
                                <label>Gender</label>
                                <div class="form-control">
                                    <label class="radio-inline">
                                                <input type="radio" name="gender" value="male" required>
                                                Male
                                                </label>
                                    <label class="radio-inline">
                                                <input type="radio" name="gender" value="female" required>
                                                Female
                                                </label>
                                </div>
                            </div>

                            <div class="checkbox">
                                <label class="small">
                                                            <input name="terms" type="checkbox"> I have read and agree to the <a href="#">terms and conditions</a>
                                                </label>
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" value="save" type="submit">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>