<html>
{% include 'partials/dashboard.html' %} {% include 'partials/headers.html' %}
<!-- <script src="/public/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" /> {% include 'partials/nav1.html' %} -->
<script src="https://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />

<head>
    <title></title>
</head>

<body>
    <div class="text-center">
        {% with messages= get_flashed_messages (with_categories=true) %} {% for category,message in messages %}
        <div class="{{category}}">
            {{message}}
        </div>
        {% endfor %} {% endwith %}

    </div>
    <form action="{{url_for('hiredcardetails')}}" method="POST">
        <div class="container-fluid bg-light py-7">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="card card-body" style="background-color:bisque;">
                        <h3 class="text-center mb-4" style="color: black;">please fill in the following details</h3>
                        <!-- <div class="alert alert-danger">
                                            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Password is too short.
                                        </div> -->
                        <fieldset>

                            <div class="form-group has-success">
                                <label class="form-control-label">Hiring Date</label>
                                <input class="form-control input-lg" id="hiredate" placeholder="hiring date" name="hiring_date" value="" type="date" required>
                            </div>
                            <div class="form-group has-success">
                                <label class="form-control-label">Returning date</label>
                                <input id="returndate" amt="{{car.price}}" onchange="myfunction()" class="form-control input-lg" placeholder="Returning Date" name="returning_date" value="" type="date" required><br>
                                <input type="text" name="" id="amt" value="{{car.price}}" hidden>
                            </div>
                            <div class="form-group has-success">
                                <label class="form-control-label">Number Plate</label>
                                <input class="form-control input-lg" placeholder="Number Plate" name="number_plate" value="{{car.number_plate}}" type="text" required><br>
                            </div>
                            <div class="form-group has-success">
                                <label class="form-control-label">period</label>
                                <input id="period" class="form-control input-lg" placeholder="period" name="period" value="" type="number" required><br>
                            </div>
                            <div class="form-group has-success">
                                <label class="form-control-label">Amount</label>
                                <input class="form-control input-lg" id="amount" placeholder="Amount" name="amount" value="" type="number" required><br>
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" value="submit" type="submit"><br>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>
<script>
    function myfunction() {

        const input = document.querySelector('#returndate').value;
        const input1 = document.querySelector('#hiredate').value;
        const input3 = document.querySelector('#period')
        const input4 = document.querySelector('#amount');
        const price = document.querySelector('#amt').value;
        console.log(price)
        console.log(input);
        console.log(input.substr(0, 4) + input.substr(5, 2) + input.substr(8, 2));
        date1 = parseInt(input.substr(0, 4) + input.substr(5, 2) + input.substr(8, 2));
        date2 = parseInt(input1.substr(0, 4) + input1.substr(5, 2) + input1.substr(8, 2));
        input3.value = Math.round(((date1 - date2))) + 1;
        input4.value = parseInt(input3.value) * parseInt(price);


        console.log(input1);

    }
</script>