<html>
{% include 'partials/headers.html' %} {% include 'partials/nav1.html' %}

<head>
    <title></title>
</head>
<div class="text-center">
    {% with messages= get_flashed_messages (with_categories=true) %} {% for category,message in messages %}
    <div class="{{category}}">
        {{message}}
    </div>
    {% endfor %} {% endwith %}

</div>

<body>
    <form action="{{url_for('customer_login')}}" method="POST">
        <div class="container-fluid bg-light py-5">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="card card-body" style="background-color:bisque;">
                        <h3 class="text-center mb-4" style="color: black;">Please enter the transction code here</h3>
                        <!-- <div class="alert alert-danger">
                                            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Password is too short.
                                        </div> -->
                        <fieldset>

                            <div class="form-group has-success">
                                <label class="form-control-label">Transction Code</label>
                                <input class="form-control input-lg" placeholder="transaction code" name="transaction_code" value="" type="text" required>
                            </div>
                            <input class="btn btn-lg btn-primary btn-block" value="submit" type="submit">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>