<html>
{% include 'partials/nav.html' %}{% include 'partials/headers.html' %}
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
<div class="text-center">
    {% with messages= get_flashed_messages (with_categories=true) %} {% for category,message in messages %}
    <div class="{{category}}">
        {{message}}
    </div>
    {% endfor %} {% endwith %}

</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        View Cars
      </button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select cars to be viewed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <div class="col">
                    <a href="{{url_for('viewcarstobehired', filter='To be hired')}}" class="btn btn-primary btn-block">
                        <i></i>Cars to be hired
                    </a>
                </div>

                <div class="col">
                    <a href="{{url_for('viewcarstobesold',filter='To be sold')}}" class="btn btn-secondary btn-block">
                        <i></i>Cars to be sold
                    </a>
                </div>
            </div>
        </div>
    </div>


</html>