<!DOCTYPE html>
<html lang="en">
{% include 'partials/nav1.html' %} {% include 'partials/headers.html' %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view cars</title>
</head>

<div class="text-center">
    {% with messages= get_flashed_messages (with_categories=true) %} {% for category,message in messages %}
    <div class="{{category}}">
        {{message}}
    </div>
    {% endfor %} {% endwith %}

</div>

<body>


    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="text-center" id="" value="">{{car.number_plate}}</h5>

            </div>
            <div class="card-block content-justify-center">
                <div class="row">
                    <section class="col-md-7">

                        <span class="text-muted"> <img  style="height: 300px;" src="public/carimages/{{car.image}}" alt=""></span>

                    </section>

                    <section class="col-md-5">
                        <div>
                            <span class="text-muted"> origin:{{car.origin}}</span>
                        </div>
                        <div>
                            <span class="text-muted">Model:{{car.model}}</span>
                        </div>
                        <div>
                            <span class="text-muted">Gear:{{car.gear}}</span>
                        </div>

                        <div>
                            <span class="text-muted">Engine:{{car.engine}}</span>
                        </div>
                        <div>
                            <span class="text-muted">Capacity:{{car.capacity}}</span>
                        </div>
                        <div>
                            <span class="text-muted">Steering:{{car.steering}}</span>
                        </div>
                        <div>
                            <span class="text-muted">Fuel:{{car.fuel}}</span>
                        </div>
                        <div>
                            <span class="text-muted">colour:{{car.colour}}</span>
                        </div>
                        <div>
                            <span class="text-muted">Brand:{{car.brand}}</span>
                        </div>
                        <div>
                            <span class="text-muted">Mileage:{{car.mileage}}</span>
                        </div>
                        <div>
                            <span class="text-muted">Price in $:{{car.price}} per day</span>
                        </div>
                        <div class="col">
                            {% if car.purpose == 'To be hired' %}
                            <a href="{{url_for('hiredcardetails' ,number_plate=car.number_plate)}}" class="btn btn-primary btn-block">
                                <i></i>Hire
                            </a>
                            {%else%}
                            <a href="{{url_for('cart', number_plate=car.number_plate)}}" class="btn btn-primary btn-block">
                                <i></i>Add to cart
                            </a>
                            {% endif %}
                        </div>
                    </section>
                </div>
            </div>


        </div>
    </div>



</body>

</html>