<html>
{% include 'partials/nav.html' %} {% include 'partials/headers.html' %}

<head>
    <title>Add car</title>
</head>

<body>

    <div class="text-center">
        {% with messages= get_flashed_messages (with_categories=true) %} {% for category,message in messages %}
        <div class="{{category}}">
            {{message}}
        </div>
        {% endfor %} {% endwith %}

    </div>


    <form action="{{url_for('addcar')}}" enctype="multipart/form-data" method="POST">
        <div class="container-fluid bg-light py-3">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card card-body" style="background-color: bisque;">
                        <h3 class="text-center mb-4">Sign-up</h3>
                        <!-- <div class="alert alert-danger">
                                            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Password is too short.
                                        </div> -->
                        <fieldset>
                            <div class="form-group has-error">
                                <label class="form-control-label">Number plate</label>
                                <input class="form-control input-lg" placeholder="Number Plate" name="number_plate" type="text" required>
                            </div>
                            <div class="form-group">
                                <label for="model">Model</label>
                                <select id="model" name="model" class="form-control" required>
                                                <option value="1"></option>
                                                <option value="Sport Car">Sport Car</option>
                                                <option value="Repair Car">Repair Car</option>
                                                <option value="Car Sale">Car Sale</option>
                                                <option value="Car Hire">Car Hire</option>
                                                </select>
                            </div>
                            <div class="form-group has-success">
                                <label class="form-control-label">Capacity</label>
                                <input class="form-control input-lg" placeholder="Capacity" name="capacity" value="" type="number" required>
                            </div>

                            <div class="form-group">
                                <label>gear</label>
                                <div class="form-control">
                                    <label class="radio-inline">
                                                <input type="radio" name="gear" value="Automatic" required>
                                                Automatic
                                                </label>
                                    <label class="radio-inline">
                                                <input type="radio" name="gear" value="Manual" required>
                                                Manual
                                                </label>
                                </div>

                                <div class="form-group">
                                    <label>Fuel</label>
                                    <div class="form-control">
                                        <label class="radio-inline">
                                                    <input type="radio" name="fuel" value="Diesel" required>
                                                    Diesel
                                                    </label>
                                        <label class="radio-inline">
                                                    <input type="radio" name="fuel" value="petrol" required>
                                                    Petrol
                                                    </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Drive Type</label>
                                <div class="form-control">
                                    <label class="radio-inline">
                                                <input type="radio" name="drive_type" value="4 Wheel Drive" required>
                                                2 Wheel Drive
                                                </label>
                                    <label class="radio-inline">
                                                <input type="radio" name="drive_type" value="2 Wheel Drive" required>
                                                4 Wheel Drive
                                                </label>
                                </div>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Number of Cars</label>
                                <input class="form-control input-lg" placeholder="Number of cars" name="no_of_cars" value="" type="number" required>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Mileage</label>
                                <input class="form-control input-lg" placeholder="mileage" name="mileage" value="" type="text" required>
                            </div>



                            <div class="form-group has-success">
                                <label class="form-control-label">Engine Size</label>
                                <input class="form-control input-lg" placeholder="Engine Size" name="engine_size" value="" type="text" required>
                            </div>

                            <div class="form-group">
                                <label>Steering</label>
                                <div class="form-control">
                                    <label class="radio-inline">
                                                <input type="radio" name="steering" value="Right" required>
                                                Right
                                                </label>
                                    <label class="radio-inline">
                                                <input type="radio" name="steering" value="Left" required>
                                                Left
                                                </label>
                                </div>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Logbook number</label>
                                <input class="form-control input-lg" placeholder="Logbook number" name="logbook_number" value="" type="text" required>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Origin</label>
                                <input class="form-control input-lg" placeholder="Origin" name="origin" value="" type="text" required>
                            </div>

                            <div class="form-group">
                                <label for="brand">Brand</label>
                                <select id="brand" name="brand" class="form-control" required>
                                                <option value="1"></option>
                                                <option value="Prado">Prado</option>
                                                <option value="Repair Car">Repair Car</option>
                                                <option value="Car Sale">Car Sale</option>
                                                <option value="Car Hire">Car Hire</option>
                                                </select>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">price in dollars</label>
                                <input class="form-control input-lg" placeholder="Price" name="price" value="" type="number">
                            </div>

                            <div class="form-group">
                                <label for="engine">Engine</label>
                                <select id="engine" name="engine" class="form-control" required>
                                                <option value="1"></option>
                                                <option value="V8">V8</option>
                                                <option value="Toyota">Toyota</option>
                                                <option value="Car Sale">Car Sale</option>
                                                <option value="Car Hire">Car Hire</option>
                                                </select>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Min Engine.cc</label>
                                <input class="form-control input-lg" placeholder="Min Engine.cc" name="min_engcc" value="" type="text" required>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Max Engine.cc</label>
                                <input class="form-control input-lg" placeholder="Max Engine.cc" name="max_engcc" value="" type="text" required>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Colour</label>
                                <input class="form-control input-lg" placeholder="Colour" name="colour" value="" type="text" required>
                            </div>

                            <div class="form-group">
                                <label>Purpose</label>
                                <div class="form-control">
                                    <label class="radio-inline">
                                                <input type="radio" name="purpose" value="To be sold" required>
                                                To be sold
                                                </label>
                                    <label class="radio-inline">
                                                <input type="radio" name="purpose" value="To be hired" required>
                                                To be hired
                                                </label>
                                </div>
                            </div>

                            <div class="form-group has-success">
                                <label class="form-control-label">Upload photo</label>
                                <input class="form-control input-lg" placeholder="photo" name="file" value="" type="file" required>
                            </div>

                            <input class="btn btn-lg btn-primary btn-block" value="save" type="submit">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>