<html>
{% include 'partials/loginnav.html' %} {% include 'partials/headers.html' %}

<head>

    <head>
        <div class="text-center">
            {% with messages= get_flashed_messages (with_categories=true) %} {% for category,message in messages %}
            <div class="{{category}}">
                {{message}}
            </div>
            {% endfor %} {% endwith %}

        </div>
        <title></title>
    </head>

    <body>
        <form action="{{url_for('admin_login')}}" method="POST">
            <div class="container-fluid bg-light py-3">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body" style="background-color:bisque;">
                            <h3 class="text-center mb-4">login</h3>
                            <!-- <div class="alert alert-danger">
                                            <a class="close font-weight-light" data-dismiss="alert" href="#">×</a>Password is too short.
                                        </div> -->
                            <fieldset>

                                <div class="form-group has-success">
                                    <label class="form-control-label">Username</label>
                                    <input class="form-control input-lg" placeholder="username" name="username" value="" type="username" required>
                                </div>

                                <div class="form-group has-success">
                                    <label class="form-control-label">Password</label>
                                    <input class="form-control input-lg" placeholder="password" name="password" value="" type="password" required>
                                </div>

                                <div class="checkbox">
                                    <label class="small">
                                                    <input name="terms" type="checkbox"> Remember me <a href="#"></a>
                                                </label>
                                </div>
                                <input class="btn btn-lg btn-primary btn-block" value="submit" type="submit"><br> forgot password?
                                <a href="">Click here</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% include 'footer.html' %}
    </body>

</html>