<html>
{% include 'partials/nav.html' %}
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />

<head>
    <title></title>
</head>

<body>

    <form action="searchcars" method="post">
        <input class="col-md-6 mt-2" type="text" placeholder="search by Number plate,Model,Price,Brand,Origin,Fuel,Gear,..." id="search" name="search">
        <input type="submit" class="bt btn-primary" value="submit">
    </form>


    <table class="table ">
        <thead>
            <tr>

                <th scope="col ">Number Plate</th>
                <th scope="col ">Model</th>
                <th scope="col ">Gear</th>
                <th scope="col ">Brand</th>
                <th scope="col ">Price in $</th>
                <th scope="col ">Engine</th>
                <th scope="col ">Fuel</th>
                <th scope="col ">Steering</th>
                <th scope="col ">pupose</th>
                <th scope="col ">Image</th>

            </tr>
        </thead>
        {% for car in car %}

        <tr>

            <td>{{car.number_plate}}
            </td>
            <td>{{car.model}}
            </td>
            <td>{{car.gear}}
            </td>
            <td>{{car.brand}}
            </td>
            <td>{{car.price}}
            </td>
            <td>{{car.engine}}
            </td>
            <td>{{car.fuel}}
            </td>
            <td>{{car.steering}}
            </td>
            <td>{{car.purpose}}
            </td>
            <td>
                <span class="text-muted "> <img  style="height: 50px; width: 50px " src="public/carimages/{{car.image}} " alt=" "></span>
            </td>



            {% if admin.role=='Add Car'%}
            <td>
                <form method="POST" action="{{url_for( 'deletecarbyadmin',number_plate=car.number_plate)}} "><input type="text" value="{{car.number_plate}}" name="number_plate" hidden><input type="submit" value="remove"></form>

            </td>
            {% endif %}

        </tr>
        {% endfor %}
    </table>

</body>

</html>